     body {
               position: relative;
               overflow-x: hidden;
               /*background: black;*/
           }
           body,
           html { height: 100%;}
           .nav .open > a, 
           .nav .open > a:hover, 
           .nav .open > a:focus {background-color: transparent;}

           /*-------------------------------*/
           /*           Wrappers            */
           /*-------------------------------*/

           #wrapper {
               padding-left: 0;
               -webkit-transition: all 0.5s ease;
               -moz-transition: all 0.5s ease;
               -o-transition: all 0.5s ease;
               transition: all 0.5s ease;
           }

           #wrapper.toggled {
               padding-left: 220px;
           }

           #sidebar-wrapper {
               z-index: 1000;
               left: 220px;
               width: 0;
               height: 100%;
               margin-left: -220px;
               overflow-y: auto;
               overflow-x: hidden;
               background: #F2F3F5;
               -webkit-transition: all 0.5s ease;
               -moz-transition: all 0.5s ease;
               -o-transition: all 0.5s ease;
               transition: all 0.5s ease;
           }

           #sidebar-wrapper::-webkit-scrollbar {
             display: none;
           }

           #wrapper.toggled #sidebar-wrapper {
               width: 423px;
           }

           #page-content-wrapper {
               width: 100%;
               
           }

           #wrapper.toggled #page-content-wrapper {
               position: absolute;
               /* margin-right: -220px; */
               width: 66.9%;
               right: 0;
           }

           /*-------------------------------*/
           /*     Sidebar nav styles        */
           /*-------------------------------*/

           .sidebar-nav {
               position: absolute;
               top: 0;
               width:90%;
               margin: 0;
               padding: 0;
               list-style: none;
           }

           .sidebar-nav li {
               margin: 10px 10px;
               border: 1px solid #0000002e;
               position: relative;
               line-height: 20px;
               display: inline-block;
               width: 100%;
               background-color: #fff;
           }

           .sidebar-nav li:before {
               content: '';
               position: absolute;
               top: 0;
               left: 0;
               z-index: -1;
               height: 100%;
               width: 3px;
               background-color: #F2F3F5;
               -webkit-transition: width .2s ease-in;
                 -moz-transition:  width .2s ease-in;
                  -ms-transition:  width .2s ease-in;
                       transition: width .2s ease-in;

           }
           .nav>li>a:hover{
                background-color: #ffc000;
           }
           .sidebar-nav li:first-child a {
               color: #000;
              
           }
           .sidebar-nav li:nth-child(2):before {
               background-color: #F2F3F5;  
           }
           .sidebar-nav li:nth-child(3):before {
               background-color: #F2F3F5; 
           }
           .sidebar-nav li:nth-child(4):before {
                 background-color: #F2F3F5;  
           }
           .sidebar-nav li:nth-child(5):before {
                 background-color: #F2F3F5;  
           }
           .sidebar-nav li:nth-child(6):before {
               background-color: #F2F3F5;  
           }
           .sidebar-nav li:nth-child(7):before {
               background-color: #F2F3F5;  
           }
           .sidebar-nav li:nth-child(8):before {
                 background-color: #F2F3F5;  
           }
           .sidebar-nav li:nth-child(9):before {
               background-color: #F2F3F5;
           }
           .sidebar-nav li:hover:before,
           .sidebar-nav li.open:hover:before {
               width: 100%;
               -webkit-transition: width .2s ease-in;
                 -moz-transition:  width .2s ease-in;
                  -ms-transition:  width .2s ease-in;
                       transition: width .2s ease-in;

           }

           .sidebar-nav li h3 {
              display: block;
                  color: #686F7A;
                  font-size: 20px;
                  font-weight: 500;
                  text-decoration: none;
                  padding: 10px 15px 10px 30px; 
                  margin: 0 0;
           }

           .sidebar-nav li h3:hover,
           .sidebar-nav li h3:active,
           .sidebar-nav li h3:focus,
           .sidebar-nav li.open h3:hover,
           .sidebar-nav li.open h3:active,
           .sidebar-nav li.open h3:focus{
               color: #686F7A;
               text-decoration: none;
               background-color: transparent;
           }

           .sidebar-nav > .sidebar-brand {
               height: 39px;
               font-size: 17px;
               line-height: 34px;
           }
           .sidebar-nav .dropdown-menu {
               position: relative;
               width: 100%;
               padding: 0;
               margin: 0;
               border-radius: 0;
               border: none;
               background-color: #222;
               box-shadow: none;
           }
           .sidebar-brand button {
        padding: 1px 14px;
         position: absolute;
         color: #000;
         border: 1px solid #0000002e;
         background-color: #ffc000;
           }

           .sidebar-brand input {
               width: 90%;
               padding: 0 24px;
           }

           /*/*-------------------------------*/
           /*       Hamburger-Cross         */
           /*-------------------------------*/
            button.hamburger.is-closed {
                margin-left: 32px;
            }
           .hamburger {
                color: aliceblue;
                 position: absolute;
             top: 20px;
             z-index: 999;
             display: block;
             width: 32px;
             height: 32px;
             left: 15px;
             background: transparent;
             border: none;
           }
           .hamburger:hover,
           .hamburger:focus,
           .hamburger:active {
             outline: none;
           }
           .hamburger.is-closed:before {
             content: '';
             display: block;
             width: 100px;
             font-size: 14px;
             color: #fff;
             line-height: 32px;
             text-align: center;
             opacity: 0;
             -webkit-transform: translate3d(0,0,0);
             -webkit-transition: all .35s ease-in-out;
           }
           .hamburger.is-closed:hover:before {
             opacity: 1;
             display: block;
             -webkit-transform: translate3d(-100px,0,0);
             -webkit-transition: all .35s ease-in-out;
           }

           .hamburger.is-closed .hamb-top,
           .hamburger.is-closed .hamb-middle,
           .hamburger.is-closed .hamb-bottom,
           .hamburger.is-open .hamb-top,
           .hamburger.is-open .hamb-middle,
           .hamburger.is-open .hamb-bottom {
             position: absolute;
             left: 0;
             height: 4px;
             width: 100%;
           }
           .hamburger.is-closed .hamb-top,
           .hamburger.is-closed .hamb-middle,
           .hamburger.is-closed .hamb-bottom {
             background-color: #1a1a1a;
           }
           .hamburger.is-closed .hamb-top { 
             top: 5px; 
             -webkit-transition: all .35s ease-in-out;
           }
           .hamburger.is-closed .hamb-middle {
             top: 50%;
             margin-top: -2px;
           }
           .hamburger.is-closed .hamb-bottom {
             bottom: 5px;  
             -webkit-transition: all .35s ease-in-out;
           }

           .hamburger.is-closed:hover .hamb-top {
             top: 0;
             -webkit-transition: all .35s ease-in-out;
           }
           .hamburger.is-closed:hover .hamb-bottom {
             bottom: 0;
             -webkit-transition: all .35s ease-in-out;
           }
           .hamburger.is-open .hamb-top,
           .hamburger.is-open .hamb-middle,
           .hamburger.is-open .hamb-bottom {
             background-color: #1a1a1a;
           }
           .hamburger.is-open .hamb-top,
           .hamburger.is-open .hamb-bottom {
             top: 50%;
             margin-top: -2px;  
           }
           .hamburger.is-open .hamb-top { 
             -webkit-transform: rotate(45deg);
             -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
           }
           .hamburger.is-open .hamb-middle { display: none; }
           .hamburger.is-open .hamb-bottom {
             -webkit-transform: rotate(-45deg);
             -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
           }
           .hamburger.is-open:before {
             content: '';
             display: block;
             width: 100px;
             font-size: 14px;
             color: #fff;
             line-height: 32px;
             text-align: center;
             opacity: 0;
             -webkit-transform: translate3d(0,0,0);
             -webkit-transition: all .35s ease-in-out;
           }
           .hamburger.is-open:hover:before {
             opacity: 1;
             display: block;
             -webkit-transform: translate3d(-100px,0,0);
             -webkit-transition: all .35s ease-in-out;
           }

           /*-------------------------------*/
           /*            Overlay            */
           /*-------------------------------*/
            
            .head h2 {
                
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                margin-top: 10px;
            }



            .sidebar-nav li:nth-child(1) {
                background-color: #F2F3F5;
                border: none;
            }
           .overlay_2 {
               position: fixed;
               display: none;
               width: 100%;
               height: 100%;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               background-color: rgba(250,250,250,.8);
               z-index: 1;
           }
             .nav>li>a{
               padding:0;
             }

             .video{
               width: 100%;
               height: 100vh;
             }
             .video video{
                   height: 100vh;
                   width: 100%;
             }
             .sec {
                padding: 0px 30px;
                    color: #686F7A;
                    line-height: 45px;
                    margin: 0 0;
             }
            .is-open .fa-list-ul:before {
                content: "\f00d" !important;
            }
            @media all and (max-width:1024px){
                
                #wrapper.toggled #sidebar-wrapper{

                    width:350px;
                }
                }

            @media all and (max-width:768px){
                    button.hamburger.cross.is-open {
                     left: 100px !important;
                }
                }
            @media all and (max-width: 768px){
                 #wrapper.toggled #page-content-wrapper{
                     width: 54.9%;
                     }
                 button.hamburger.cross.is-open {
                     left: 0px !important;
                     }
                   }
            @media all and (max-width:426px){
                button.hamburger.cross.is-open {
                   
                    left: 150px !important;
                    }
               }
            @media all and (max-width:376px){
               .navbar button.hamburger.right_cross.is-open{
   
                        display:block !important;
                        color:#000;
                        left:unset;
                        right:10px;
                    }
                    #page-content-wrapper .cross.is-open {
                       display: none;
                 }
                    
                }    
        

            
            /*@media screen and (max-width:510px) {*/
            /*  button.right_cross {*/
            /*        color : black !important;*/
            /*        top: 9px;*/
            /*        right:30px;*/
            /*        display: block;*/
            /*    }*/
            /*    button.cross{*/
            /*        display:none;*/
            /*    }*/
            /*}*/

      /*.player, .player *, .player ::after, .player ::before{
        height: 100vh !important;
      }
      .player .vp-video-wrapper .vp-telecine, .player .vp-video-wrapper object, .player .vp-video-wrapper video{
        height: 100vh !important;
      }*/


